
@using EmployeePortal.Components.Shared
@using Microsoft.AspNetCore.Components.Authorization

@using System.Security.Claims

@inherits LayoutComponentBase

@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager nav;
@inject HttpClient http;

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <div class="profile-container">
                <div class="avatar" @onclick="ToggleMenu">
                    @UserInitial
                </div>

                @if (showMenu)
                {
                    <div class="dropdown-menu show">
                        <button class="dropdown-item" @onclick="Logout">
                            Logout
                        </button>
                    </div>
                }
            </div>
        </div>
        
        <article class="content px-4">
            <SpinnerComponent />
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code{
    private bool showMenu = false;
    private string UserInitial = "";
    private string email;
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        Console.WriteLine(user.Identity.IsAuthenticated);
        Console.WriteLine(user.Identity.AuthenticationType);
        if (user.Identity?.IsAuthenticated == true)
        {
            // userId = int.Parse(user.FindFirst(ClaimTypes.NameIdentifier)?.Value ?? "0");
            email = user.FindFirst(ClaimTypes.Email)?.Value;
            if (!string.IsNullOrEmpty(email))
            {
                UserInitial = email.Substring(0, 1).ToUpper();
            }
        }
    }
    private void ToggleMenu()
    {
        showMenu = !showMenu;
    }
    private async Task Logout()
    {
        await http.PostAsync("/api/logout", null);
        nav.NavigateTo("/login", true);
    }
}
