<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        @* <a class="navbar-brand" href="">EmployeePortal</a> *@
        <div class="nav-brand-header text-center py-4">
            <div class="my-3">
                <img src="images/EMployeePortalLogo.png" alt="Logo" width="120" height="120"
                     class="rounded-circle border border-2 border-primary shadow-sm" />
            </div>
            <h4 class="brand-text mb-0 " style="color:white;">EmployeePortal</h4>
        </div>
    </div>
</div>
<div class="line my-3"></div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">

        
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center gap-3" href="/admindashboard" Match="NavLinkMatch.All">
                <span class="fa-solid fa-gauge fs-5"  aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center gap-3" href="counter">
                <span class="fa-solid fa-users fs-5"  aria-hidden="true"></span> Employee
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center gap-3" href="weather">
                <span class="fa-solid fa-clipboard-user fs-5"  aria-hidden="true"></span> Attendance
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center gap-3" href="weather">
                <span class="fa-solid fa-clock fs-5"  aria-hidden="true"></span> Leave Request
            </NavLink>
        </div>
    </nav>

</div>

